.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.flex-container {
  display: flex;
}

.cover-image {
    display: flex;
    width: 50%;
    margin-right: 0px;
    margin-left: 25px;
}

.cover-image-left {
    display: flex;
    width: 50%;
    margin-right: 25px;
    margin-left: 0px;
}