button.mat-button {
   border-radius: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.menu-button {
    font-size: 20 !important;
}